/*NAVBAR & HEADER */
.navbar {
  text-align:right;
}
header {
  height: 450px;
  background: url('bg-veggies.jpg') center center;
  background-size: cover;
}

.logo {
  float: left;
  margin:10px 0 0 30px;
}

nav {
  float: right;
  margin:30px 30px 0 0;
}

nav a{
  display: inline-block;
  margin-left: 20px;
  color: black;
  font-size:14px;
  font-weight: 700;
  text-transform: uppercase;
}

nav a:hover {
  color: white;
  text-decoration: none;
}

h1 {
  text-align: center;
  font-size: 55px;
  font-weight: 600;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  clear: both;
  padding-top: 100px;
}

h1 span {
  display: inline-block;
  padding:0.2em 0.5em;
  border: 8px solid black;
  margin-top: 50px;
}

.subtitle {
  text-align: center;
  font-weight:700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color:black;
  line-height: 1;
}

/*ABOUT SECTION*/
h3 {
  text-align: center;
  color: rgb(251,174,21);
  font-size: 17px;
  font-variant: small-caps;
  text-transform: uppercase;
  padding: 100px 30px;
}

.profil-pic {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}
p {
  max-width: 650px;
  margin:50px auto;
  text-align: center;

}
/*WORK*/
.work-section {
  background-color: #F3F3F3;
  padding-bottom:100px;
}
.thumb-container {
  max-width: 960px;
  margin:0px auto;
}
.thumb-unit {
  background-image: url("plant-thumb.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 25%;
  height: 150px;
  overflow: hidden;
  color:white;
  padding-top: 16%;

}

.thumb-overlay {
  background-color:#2E3B3E;
  width: 100%;
  height: 0;
  transition: 0.5s ease;

}
.thumb-overlay strong {
  padding: 20px;
  font-weight: 300;
  text-transform: uppercase;

}
.thumb-unit:hover .thumb-overlay {
  height: 100%;
  opacity:0.6;
  color:white;
}
/*.work-section {
  padding-bottom: 100px;
  background-color: #F3F3F3;
}
.thumb-container {
  max-width: 960px;
  margin:0px auto;

}
.thumb-unit {
  display:block;
  float: left;
  width: 25%;
  height: 150px;
  position: relative;
  padding-top: 16%;
  overflow: hidden;

  background-image: url("plant-thumb.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.thumb-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2E3B3E;
  color:white;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.thumb-overlay strong {
  display: block;
  /*text-align: center;*/
  padding: 20px;
  font-weight: 300;
  text-transform: uppercase;
}

.thumb-unit:hover .thumb-overlay {
  height: 100%;
  opacity:0.6;
}

/*SERVICE SECTION*/

/*.sec-service i {
  display: block;
  margin:top;
  width: 45px;
}
.sec-service h4 {
  margin:1em 0;
}
.sec-service .fa-code {
  width: 65px;
}*/
/*FOOTER*/
footer {
  padding: 3em 0;
}

.soc-media-ul {
  display: flex;
  justify-content: center;
}

.soc-media-ul li:not(:first-child) a {
  margin-left: 1em;
}

.soc-media-ul a {
  display: block;
  padding: 0.5em 1.65rem;
  font-size: 25px;
  color: black;
  text-decoration: none;
}

.soc-media-ul a:hover {
  color: #dfe3ee;
}
