@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);

/*NAVBAR & HEADER */
.navbar {
  text-align:right;
}
header {
  height: 450px;
  background: url('bg-veggies.jpg');
  background-size: cover;
}

.logo {
  float: left;
  margin:10px 0 0 30px;
}

nav {
  float: right;
  margin:30px 30px 0 0;
}

nav a{
  display: inline-block;
  margin-left: 20px;
  color: black;
  font-size:14px;
  font-weight: 700;
  text-transform: uppercase;
}

nav a:hover {
  color: white;
  text-decoration: none;
}

h1 {
  text-align: center;
  font-size: 55px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  clear: both;
  padding-top: 100px;
}

h1 span {
  display: inline-block;
  padding:0.2em 0.5em;
  border: 8px solid white;
  margin-top: 50px;
}

.subtitle {
  text-align: center;
  font-weight:700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color:black;
  line-height: 1;
}

/*ABOUT SECTION*/
h3 {
  font-family: 'Kaushan Script', "Helvetica Neue", "Helvetica";
  text-align: center;
  color: black;
  font-size: 25px;
  padding: 100px 30px;
}

.profile-pic {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}
p {
  max-width: 650px;
  margin:50px auto;
  text-align: center;

}
.connect {
  color:#295f48;
  text-decoration: none;
}
.connect:hover {
  color:#295f48;
  text-decoration: none;
  font-weight: 500;
}

.icon-about {
  width: 75px;
  height: 75px;
}

.iconjs-about {
  width: 95px;
  height: 95px;
}

.iconrby-about {

  width: 100px;
  height: 75px;
}
/*WORK*/
.work-section {
  background-color: #F3F3F3;
  padding-bottom:100px;
}
.thumbnail {
  position: relative;
  overflow: hidden;
}
 .caption {
  position: absolute;
  bottom: 0;
  right: 0;
  background:rgba(76,76,76, 0.6);
  width: 100%;
  height: 100%;
  padding: 2%;
  display: none;
  text-align: center;
  color: white !important;
  z-index: 2;
 }

 .caption h4 {
  font-weight: 300;
  text-transform: uppercase;
 }

 .caption p {
  text-align:center;
  font-size: 14px;
  margin-top: 0;
 }

/*CONTACT*/
#contact {
  background-color: #ecf0f3;
  text-align: center;
}

.soc-media-ul {
  max-width: 700px;
  margin:0 auto 50px;
  display: flex;
  justify-content: space-around;
}
.soc-media-ul a {
  display: block;
  font-size:28px;
  color:black;
}

.soc-media-ul a:hover {
  text-decoration: none;
  color: #295f48;
  transform: scale(1.3);
}

.bar {
  width: 250px;
  height: 0;
  border-top: 4px solid black;
  margin: 70px auto 65px;
}
.link-mail {
  padding-bottom: 100px;
}

.link-mail a{
  font-size: 40px;
  font-weight: 300;
  line-height: 1;
  color:black;
}
.link-mail a:hover {
  color: black;
  text-decoration: none;

}
/*FOOTER*/
footer {
  padding: 10px 0;
  background-image: url('bg-veggies2.jpg');
  background-size: cover;
}



