@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Asap+Condensed');

/* --- COMPONENTS DESIGN --- */
@import url('css/components/button.css');
@import url('css/components/banner.css');
@import url('css/components/navbar.css');
@import url('css/components/card.css');

body {
  font-family: 'Raleway', 'sans-serif';
}

/* --- ABOUT SECTION--- */
.profile-pic {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  filter:grayscale(100%);
}
.about-description {
  padding: 30px 10px;
  margin: 15px;
}
.connect {
  color: #b8cae7;
}
.connect:hover {
  color: #a5b5cf;
  text-decoration:none;
}
.icon-about {
  width: 60px;
  height: 60px;
  filter: grayscale(1);
  filter: drop-shadow(9px 7px 9px rgba(0,0,0,0.3));
  margin-bottom: 30px;
}
.icon-about-js {
  width: 70px;
  height: 70px;
  margin-top: -5px;
}
.icon-about-row {
  padding-bottom: 50px;
}

/* --- SERVICES SECTION--- */
h3 {
  text-align:center;
  letter-spacing: 8px;
  color:black;
  padding: 60px;
  margin:0;
}
h4 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
.banner-service {
  background-attachment: fixed;
}
.wrapper-services {
  background-color: rgba(71,94,129,0.6);
  background-size: cover;
}
.description-service i {
  padding-bottom: 15px;
  color: white;
}
.description-service p {
  padding-bottom: 50px;
  padding-left:30px;
  padding-right:30px;
  color: white;
}
.icon-service {
  font-size: 40px;
  color: white;
  text-shadow: 0px 1px rgba(3, 8, 6, 0.5);
}
/* --- PROJECT SECTION--- */

#project {
  margin-bottom: 80px;
}

/* --- CONTACT SECTION--- */

span {
  color: #b8cae7;
}

ul, li, a {
  display: inline-block;
}

li {
  border-right: 1px solid #DDD;
  padding: 5px 7px 5px 5px;
}
li:last-child {
    border-right-color: transparent;
}

.a-contact {
  width: 84px;
  height: 64px;
  line-height: 64px;
  text-decoration: none;
  color: #111;
  letter-spacing: 3px;
}
.a-contact:hover {
  text-decoration: none;
  color:white;
  background-color: #b8cae7;

}
.a-contact:focus {
  text-decoration: none;
  color:black;
}

.links-div-contact {
  padding-bottom: 60px;
}

/* --- FOOTER SECTION--- */
#footer{
  padding: 5px;
}
