/*main-page*/

.banner {
  color: black;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner h1 {
  font-size: 85px;
  font-weight: lighter;
  font-family: arial;
  font-variant: all-small-caps;
  text-shadow: 1px 1px 1px;
  background-image: -webkit-linear-gradient(30deg, aquamarine 100%, #fff 0%);
background-image: -o-linear-gradient(30deg, aquamarine 100%, #fff 0%);
background-image: linear-gradient(120deg, aquamarine 100%, #fff 0%);
  background-repeat: no-repeat;
  background-size: 88% 20px;
  background-position: 37px 90%;
}

.banner p {
  font-variant: all-small-caps;
  letter-spacing: 3px;
  font-size: 20px;
  opacity: 0.7;
}

.wrapper-content {
  background-color: white;
  width:70%;
  margin-left:auto;
  margin-right:auto;
  padding:20px 0;
}

.wrapper-content button {
  color: #999999;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
}

.wrapper-content button:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}
@media(max-width: 992px) {
  .banner h1 {
    font-size: 80px;
    background-size: 100% 20px;
    background-position: 0px 90%;
  }
}

@media(max-width: 760px) {
  .banner h1 {
    font-size: 53px;
    background-size: 100% 20px;
    background-position: 0px 90%;
  }
}

@media(max-width: 484px) {
  .banner h1 {
    font-size: 50px;
   background-size: 100% 20px;
    background-position: 0px 90%;
  }
}

@media(max-width: 480px) {
  .banner h1 {
    font-size: 50px;
    background-size: 71% 51px;
    background-position: 36px 61%;
  }
  .banner p {
  font-size: 17px;
}
}
