.wrapper-main {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
  padding: 30px;
  height: calc(95vh - 70px);
  margin:0 45px;
  margin-top: 70px;

  display: flex;
  align-items: center;
  justify-content: center;
}


.wrapper-main h1 {
  font-family: 'Libre Baskerville', serif;
  color: white;
  opacity: 0;
  text-shadow: 1px 1px 1px #4b4845;
  padding: 20px 20px 20px 55px;
  font-size: 60px;
  line-height: 83px;
  animation-name:/*slide*/ appear;
  animation-duration: 1.5s, 1.5s;
  animation-delay: 1s, 0.8s;
  animation-fill-mode: forwards;

}

/*@keyframes slide {
  from {transform:translateX(0%);}
  to {transform:translateX(10%);}
}*/

@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}


.wrapper-main .p-main{
  color: rgba(75,72,69,0.6);
  font-size: 20px;
  font-variant: all-small-caps;
  letter-spacing: 3px;
  line-height: 20px;
}

.p-main a {
  background: white;
  padding: 20px 10px;
}


.btn {
  margin-top: 50px;
  border:none;
  transition: 1s;
}

.btn:hover {
  background:white;
  box-shadow: 0 0 15px 0 white;
}

.language li {
  padding: 15px 15px;
}
.language li a {
  color: black;
  font-size: 15px;
}
.language li a:hover {
  color: white;
}

.l-active {
  background-color: #f8f2f4;
}

.l-active2 {
  color: white;
  transition: 0.70s;
}


@media(max-width: 1200px) {
  .wrapper-main {
    margin:0 45px;
    margin-top: 70px;
  }
  .wrapper-main h1 {
    font-size: 45px;
    line-height: 63px;
    animation-name:slide, appear;
    animation-duration: 1.5s, 1.5s;
    animation-delay: 1s, 0.8s;
    animation-fill-mode: forwards;
  }
}

@media(max-width: 855px) {
  .wrapper-main {
    margin:70px 0;
  }
  .wrapper-main h1 {
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 40px;
    animation-name:slide, appear;
    animation-duration: 1.5s, 1.5s;
    animation-delay: 1s, 0.8s;
    animation-fill-mode: forwards;
  }

}

@media(max-width: 760px) {
  .wrapper-main {
    margin:70px 0;
  }
  .wrapper-main h1 {
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 40px;

    transform: translateY(50px);
    animation-name:slide, appear;
    animation-duration: 1.5s, 1.5s;
    animation-delay: 1s, 0.8s;
    animation-fill-mode: forwards;
  }

}

@media(max-width: 620px) {
  .wrapper-main {
    margin:70px 0;
  }
  .wrapper-main h1 {
    font-size: 40px;
    line-height: 60px;
    animation-name:/*slide*/ appear;
    animation-duration: 1.5s, 1.5s;
    animation-delay: 1s, 0.8s;
    animation-fill-mode: forwards;
  }

}


@media(max-width: 579px) {
  .wrapper-main {
    margin:70px 0;
  }

  .wrapper-main h1 {
    text-align: center;
    font-size: 35px;
    line-height: 50px;
    padding:0;

    transform: translateY(60px);
    animation-name:/*slide*/ appear;
    animation-duration: 1.5s, 1.5s;
    animation-delay: 1s, 0.8s;
    animation-fill-mode: forwards;
  }
  .navbar-light .navbar-brand {
    padding-left: 5px;
    padding-top: 10px;
  }
}


