.btn {
  font-weight: 400;
  font-family: 'Raleway', 'sans-serif';
}
.btn-primary  {
  background-color: rgba(25,25,25,0.4);
  border: 1px solid white;
  border-radius: 1px;
}
.btn-primary:hover {
  background-color: rgba(25,25,25,0.4);
  border:1px solid white;
}
