/* Navbar Design */


.nav-link {
  font-size: 12px;
  text-transform: uppercase;
}

.navbar-brand {
  font-family: 'Libre Baskerville', serif;
  font-size: 19px;
  color: rgba(75,72,69,0.7);
  padding: 0 30px;
  text-transform: capitalize;
}

.navbar.black {
  background-color: rgba(62,58,71,0.5);
  color: white;
  transition: 4s;
}


.navbar-light .navbar-nav .nav-link {
    color: rgba(75,72,69,0.7);
    transition: .6s;
}

@media(max-width: 990px) {

  .navbar-collapse {
    background-color: rgba(0,40,49,0.6);
  }
  .navbar-light .navbar-nav .nav-link {
    font-size: 15px;
    color: white;
  }
}
