/*NAVBAR*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    text-rendering: optimizeLegibility;
}

.nav-brand {
    font-size: 1.90rem!important;
}

.nav-right {
    display: flex;
}

.nav-items {
    display: inline-block;
    padding: 20px 20px;
    font-size: 15px;
    text-decoration: none;
    color: black;
    font-weight: lighter;
    text-transform: uppercase;
}

.nav-items:hover {
  color: black;
  background-image: -webkit-linear-gradient(30deg, aquamarine 100%, #fff 0%);
  background-image: -o-linear-gradient(30deg, aquamarine 100%, #fff 0%);
  background-image: linear-gradient(120deg, aquamarine 100%, #fff 0%);
  background-repeat: no-repeat;
  background-size: 70% 8px;
  background-position: 15px 60%;
}
.navbar-cherine-brand span {
  font-size: 25px;
  font-family: 'Cookie';
  color: black;
}

a .logo {
  text-decoration: none;
}

.hamburger {
    display: none;
    position: relative;
    width: 36px;
    height: 36px;

    background-color: rgba(127, 255, 212,0.5);
    border-radius: 50%;
    cursor: pointer;
}

.hamburger>span {
    display: block;
    width: 22px;
    height: 2px;

    position: relative;
    top:50%;
    left:50%;

    background-color:black;

    transform:translateX(-50%) translateY(-50%);
 }

.hamburger span::before,
.hamburger span::after {
  content:"";

  position:absolute;
  top:0;
  left:0;

  display:block;
  width:22px;
  height:2px;

  transform:translateY(-6px);
  transition:transform 0.5s;

  background-color:black;
}
.hamburger span::after {
  transform:translateY(6px);
}

.burger {
    display: none;
}

.burger:checked~.nav-right {
    transform: translateY(-10%);
    opacity: 0.8;
}

@media(max-width: 720px) {
    .nav-right {
        z-index: -1;
        position: absolute;
        top: 85px;
        left: 0;
        width: 100%;
        align-items: center;
        flex-direction: column;
        opacity: 0;
        transform: translateY(-100%);
        background: grey;
        transition: all 0.5s ease;
    }
    .nav-items {
      padding: 15px 20px;
      font-size: 15px;
      text-decoration: none;
      color: white;
      font-weight: 300;
      text-transform: uppercase;
    }
    .nav-items:hover {
      color: white;
      background-image: -webkit-linear-gradient(30deg, aquamarine 100%, #fff 0%);
      background-image: -o-linear-gradient(30deg, aquamarine 100%, #fff 0%);
      background-image: linear-gradient(120deg, aquamarine 100%, #fff 0%);
      background-repeat: no-repeat;
      background-size: 70% 8px;
      background-position: 15px 60%;
}
    .hamburger {
      display: block;
      width: 36px;
      height: 36px;
      margin-right: 0;
      position:relative;
      left: 130px;
    }
    .navbar-cherine-brand span {
      display: none;
    }
}

@media screen and (max-width: 480px) {
    .nav-right {
      top: 85px;
      left: 235px;
      width: 35%;
      align-items: center;
      flex-direction: column;
      opacity: 0;
      transform: translateY(-100%);
      background: grey;
      transition: all 0.5s ease;
    }
    .navbar-cherine-brand span {
      display: none;
    }
    .hamburger {
      left: 95px;
    }
}
